#!/usr/bin/env bash

OPAL_PYTEST_REPO_OWNER=
OPAL_PYTEST_REPO_NAME=
OPAL_PYTEST_REPO_PASSWORD=
OPAL_PYTEST_SSH_KEY_PATH=
OPAL_PYTEST_SOURCE_ACCOUNT=
OPAL_PYTEST_SOURCE_REPO=
OPAL_PYTEST_WEBHOOK_SECRET=
OPAL_PYTEST_SHOULD_FORK=
OPAL_PYTEST_USE_WEBHOOK=
OPAL_PYTEST_WAIT_FOR_DEBUGGER=
OPAL_PYTEST_DO_NOT_BUILD_IMAGES=
OPAL_PYTEST_SKIP_REBUILD_IMAGES=
OPAL_PYTEST_KEEP_IMAGES=
OPAL_PYTEST_GITHUB_PAT=
OPAL_PYTEST_POLICY_REPO_SSH_PRIVATE_KEY=
OPAL_PYTEST_POLICY_REPO_SSH_PUBLIC_KEY=

OPAL_AUTH_PRIVATE_KEY=
OPAL_AUTH_PUBLIC_KEY=
